# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
*.log
.pytest_cache/

# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
